

input[type=range] {
	display: block;
	height: 20px;
	width: 80%;
	margin: 0;
	padding-bottom: 5px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border: none;
	background: 0 0
}

input[type=range]::-webkit-slider-runnable-track {
	height: 10px;
	background: rgba(52, 63, 74, .5);
	border: 0;
	border-radius: 5px;
	-webkit-user-select: none;
	user-select: none
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -5px;
	position: relative;
	height: 20px;
	width: 20px;
	background: linear-gradient(to left top, #00BD9C, #0081C5);
	border: 3px solid #fff;
	border-radius: 100%;
	transition: background .3s ease;
	box-shadow: 0 1px 2px rgba(52, 63, 74, .4);
	box-sizing: border-box
}

input[type=range]::-moz-range-track {
	height: 10px;
	background: rgba(52, 63, 74, .5);
	border: 0;
	border-radius: 5px;
	-moz-user-select: none;
	user-select: none
}

input[type=range]::-moz-range-thumb {
	position: relative;
	height: 20px;
	width: 20px;
	background: linear-gradient(to left top, #00BD9C, #0081C5);
	border: 3px solid #fff;
	border-radius: 100%;
	transition: background .3s ease;
	box-shadow: 0 1px 2px rgba(52, 63, 74, .4);
	box-sizing: border-box
}

input[type=range]::-moz-focus-outer {
	border: 0
}

input[type=range]::-ms-track {
	height: 10px;
	background: 0 0;
	border: 0;
	color: transparent
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
	height: 10px;
	background: rgba(52, 63, 74, .5);
	border: 0;
	border-radius: 5px;
	-ms-user-select: none;
	user-select: none
}

input[type=range]::-ms-thumb {
	position: relative;
	height: 20px;
	width: 20px;
	background: linear-gradient(to left top, #00BD9C, #0081C5);
	border: 3px solid #fff;
	border-radius: 100%;
	transition: background .3s ease;
	box-shadow: 0 1px 2px rgba(52, 63, 74, .4);
	box-sizing: border-box;
	margin-top: 0
}

input[type=range]::-ms-tooltip {
	display: none
}

input[type=range]:focus {
	outline: #343f4a dotted thin;
	outline-offset: 1px;
	outline: 0;
}

.example {
	position: relative;
	text-align: left
}

.example label, .example__range {
	background: rgba(52, 63, 74, .25);
	border-radius: 100px;
	box-shadow: inset 0 1px 1px rgba(52, 63, 74, .1), 0 1px 0
		rgba(255, 255, 255, .15)
}

.example label {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 8px;
	font-size: 12px;
	font-size: .75rem;
	text-transform: uppercase
}

.example__range {
	padding: 10px 15px;
	background: rgba(52, 63, 74, .25)
}

